body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #0095ff 0%, #3a3f44 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
}

.main-container {
  height: 450px;
  width: 350px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);
  /*центрування*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.number-container {
  height: 300px;
  width: 340px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1.5px solid rgba(255, 255, 255, 0.4);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);
  /*центрування*/
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-container button {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1.5px solid rgba(255, 255, 255, 0.4);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.number-container button:hover {
  background: rgba(255, 255, 255, 0.01);
}

.number-container-0 {
  margin-left: 6px;
  margin-top: 10px;
  height: 48px;
  width: 72.5px;
  border-radius: 20px;
}

.number-container-1 {
  margin-left: 6px;
  margin-top: 10px;
  height: 48px;
  width: 72.5px;
  border-radius: 20px;
}

.number-container-2 {
  margin-left: 6px;
  margin-top: 10px;
  height: 48px;
  width: 72.5px;
  border-radius: 20px;
}

.number-container-3 {
  margin-left: 6px;
  margin-top: 10px;
  height: 48px;
  width: 72.5px;
  border-radius: 20px;
}

.number-container-4 {
  margin-left: 6px;
  margin-top: 10px;
  height: 48px;
  width: 72.5px;
  border-radius: 20px;
}

.div-input-main {
  height: 110px;
  width: 340px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.247);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);

  position: absolute;
  top: 16.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: none;
  font-size: 45px;
  cursor: default;
  color: #000000;
}

.input-main {
  height: 60px;
  width: 280px;
  padding: 5px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.247);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);

  position: absolute;
  top: 48.5%;
  left: 44%;
  transform: translate(-50%, -50%);
  text-align: none;
  font-size: 45px;
  cursor: default;
  color: #000000;
  overflow-x: auto;
  white-space: nowrap;
}

.history {
  cursor: pointer;
  width: 24px;
  font-size: 24px;
  margin-top: 55px;
  margin-right: 10px;
  margin-left: 300px;
  position: relative;
  z-index: 10;
}

.hidden {
  display: none;
}

.hidden-1 {
  height: 450px;
  width: 350px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);
  /*центрування*/
  position: absolute;
  top: 50%;
  left: -75%;
  transform: translate(-50%, -50%);
}

.name-history {
  height: 48px;
  width: 330px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);
  /*центрування*/
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translate(-50%, -50%);
  /*центрування тексту*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-list-container {
  height: 290px;
  width: 330px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);
  /*центрування*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.li-history {
  height: 35px;
  width: 320px;
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);

  /*центрування тексту*/
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.history-list-ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.span-history {
  height: 24px;
  width: 260px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);

  /*центрування*/

  /*центрування тексту*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-history {
  height: 24px;
  width: 30px;
  margin-left: 5px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: all 0.2s ease;
  /*центрування*/

  /*центрування тексту*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-history:hover {
  background: rgba(255, 0, 0, 0.4);
  border: 1px solid rgba(255, 0, 0, 0.6);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.close-history-button {
  height: 48px;
  width: 330px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.3),
    inset 0 6px 10px rgba(255, 255, 255, 0.25),
    inset 0 -6px 12px rgba(0, 0, 0, 0.15);
  /*центрування*/
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  .main-container {
    width: 90vw;
    height: auto;
    min-height: 500px;
    padding-bottom: 20px;
  }

  .div-input-main {
    width: 85vw;
    top: 15%;
  }

  .input-main {
    width: 70vw;
    font-size: 35px;
  }

  .history {
    margin-left: 0;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .number-container {
    width: 85vw;
    height: auto;
    top: 60%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .number-container button {
    width: 18vw;
    height: 18vw;
    margin: 1vw;
    font-size: 1.2rem;
  }
  .hidden-1 {
    width: 95vw;
    left: 50%;
    z-index: 1000;
  }

  .name-history,
  .close-history-button,
  .history-list-container {
    width: 90%;
  }
}
